{{avatar-image contact=thread.contacts.firstObject size="lg" class="pull-left thread-tile-image"}}

<div class="thread-tile-info">
  <h4 class="thread-tile-name">{{thread.name}}</h4>
  <div class="thread-tile-body">Lorem ipsum</div>
</div>
